{% extends "awards/base.html" %}
{% block content %}
    {% for post in posts %}
    <div class="row">
        <div class ="col-md " align="center">
            <div class="card">
                <!-- <article class="media content-section"> -->
                    <div class="card-header">
                        <img  class="rounded-circle article-img" style="height:50px" src="{{ post.author.profile.image.url }}">
                    </div>

                    <div class="media-body text-center">
                        <img class=" article-img" src="{{ post.image.url }}" style="width: 100%">
                        <div class="article-metadata">
                            {% if object.author == user %}
                            <div>
                                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                            </div>
                            {% endif %}    
                            <a class="mr-2" href="#">{{ post.author }}</a>
                            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                        </div>
                        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                    </div>    
                    </div>
                <!-- </article> -->
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}