{% extends 'awards/base.html'%}
{% load crispy_forms_tags%}
{% load static %}

{% block content %}
    <div id="post-wrapper" class="row">
        <div class="col">
            <div class="card my-2">
                <img style='max-width: 100%;max-height:100%;' src="{{post.image}}" class="card-img-top" alt="photo image">
                <div class="card-body">
                <p class="card-text">Title: {{post.title}}</p>
                <p class="card-text">Description: {{post.description}}</p>
                <p class="card-text"><a href='{{post.url}}' target='_blank'> link to live site</a></p>
                </div>
                {% if user.id == post.user%}
                    <div class="mb-3 mx-2">
                        <a class="btn btn-dark btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a href="{% url 'delete' object.id %}" class="btn btn-danger">
                            <i class="bi bi-trash3"></i>
                            delete
                        </a>
                        
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% for rating in ratings%}
    <div class="card" >
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Design: {{ ratings.design }}</li>
          <li class="list-group-item">Usability:{{ ratings.usability }}</li>
          <li class="list-group-item"></li>
        </ul>
      </div>
      {% endfor %}
      {% if rated %}
            <div class="card text-white bg-success my-3 p-3">
                <h4>you have already rated and you only rate once per app</h4>
            </div>
        {% else %}
            {% if user.is_authenticated%}
            <div class="card-footer mt-2">
                <h3>Rate this project</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy}}
                <button class="btn btn-success" type="submit">Rate</button>
            </form>
            </div>
            {% endif %}
        {% endif %}
{% endblock content%}