{% extends "awards/base.html" %}
{% load cloudinary %}
{% block content %}
    <div class="row">
        <h2 class="border-bottom">SEARCH PAGE</h2>
        {% for post in posts %}
            <div class="col-md-4">
                <div class="card my-2">
                    <img style='height: 250px;object-fit:cover;' src="{{post.image.url}}" class="card-img-top" alt="photo image">
                    <div class="card-body">
                        <p class="card-text">{{post.title}}
                            {{ post.content}}
                        </p>
                    </div>
                </div>
            </div>
        {% empty %}
          <h3>No such post in the user post data... Kindly  try to search another post or user</h3>
        {% endfor %}
    </div>
{% endblock content %}